{% block content %}
  <div id="quiz">
    <h2>Найдите местоположение объекта:</h2>
    <p>{{ question.question_text }}</p>
    <form>
      {% for answer in question.answers.all %}
        <div class="form-check">
          <input class="form-check-input" type="radio" name="answer" id="answer-{{ answer.id }}" value="{{ answer.id }}">
          <label class="form-check-label" for="answer-{{ answer.id }}">
            {{ answer.answer_text }}
          </label>
        </div>
      {% endfor %}
      <button class="btn btn-primary" id="submit-answer" type="button">Ответить</button>
    </form>
  </div>
  <!-- Контейнер для карты Leaflet -->
  <div id="map"></div>
{% endblock %}

{% block scripts %}
  <!-- Ваш код JavaScript -->
  <script>
      var map = L.map('map').setView([{{lat}}, {{lon}}], 13);
      L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
          attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, ' +
              '<a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
              'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
          maxZoom: 18,
          tileSize: 512,
          zoomOffset: -1
      }).addTo(map);

      // добавление маркера на карту
      var marker = L.marker([{{lat}}, {{lon}}]).addTo(map);

      // Обработка события клика на карте
      map.on('click', function(e) {
        // получение координат клика
        var lat = e.latlng.lat;
        var lon = e.latlng.lng;

        // удаление старого маркера с карты
        map.removeLayer(marker);

        // добавление нового маркера на карту
        marker = L.marker([lat, lon]).addTo(map);

        // сохранение позиции маркера
        markerPosition = { lat: lat, lon: lon };
      });
  </script>
{% endblock %}